body {
  font: 22px Helvetica;
  background-color: black;
  color: seashell;
  opacity: 0.9;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 69px;
  position: fixed;
  top: 0;
  z-index: 10;

  background-color: black;
  border-bottom: 1px solid seashell;
}
#logo {
  height: 50px;
  margin: auto 10px;
}
.header a {
  color: seashell;
  margin: auto 10px;
}
.header nav {
  margin: auto 20px;
}
#mission {
  display: flex;
  justify-content: center;
  margin-top: 69px;
  width: 100%
}
.mission-image  {
  display: flex;
  align-items: center;
  width: 1200px;
  height: 700px;
  background: black  url(../images/img-mission-background.jpg) no-repeat center center;
}

.mission-banner {
  background-color: black;
  width: 100%;
  text-align: center;
}

.tea img {
  height: 200px;
  width: 300px;
  margin: 10px;
}
